<template>
  <section>
    <Banner/>
    <section class="container">
      <b-button 
        class="button--black"
        @click="createGame()">Start Game</b-button>
      <nuxt-link 
        to="/join"
        class="button--grey">Join Game</nuxt-link>
    </section>
  </section>
</template>

<script>
import Banner from '~/components/Banner.vue'
import axios from 'axios'

export default {
  components: {
    Banner
  },
  methods: {
    createGame() {
      return axios.put('/api/create').then(res => {
        this.$router.push({ path: 'master', query: { code: res.data.data } })
      })
    }
  }
}
</script>

<style>
.container {
  min-height: 50vh;
  max-width: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
