<template>
  <section>
    <Banner/>
    <section class="container">
      <div>
        <b-form>
          <b-form-group
            id="exampleInputGroup1"
            label-for="exampleInput1"
            description="Enter room code on the TV and your name"
            @submit="submit">
            <b-form-input
              id="room_code"
              v-model="input.code"
              :state="codeState"
              required
              placeholder="Room Code"
              class="join--input"/>
            <b-form-invalid-feedback>
              Invalid game code
            </b-form-invalid-feedback>
            <b-form-input 
              id="game_name"
              v-model="input.name"
              :state="nameState"
              required
              placeholder="Name"
              class="join--input"/>
            <b-form-invalid-feedback>
              Name already taken
            </b-form-invalid-feedback>
          </b-form-group>
          <b-button
            variant="primary"
            type="submit"
            @click.stop.prevent="submit()">Join</b-button>
        </b-form>
      </div>
    </section>
  </section>
</template>

<script>
import Banner from '~/components/Banner.vue'
import axios from 'axios'

export default {
  components: {
    Banner
  },
  data() {
    return {
      input: {
        name: '',
        code: ''
      },
      codeValid: null,
      nameValid: null
    }
  },
  computed: {
    nameState() {
      return this.nameValid
    },
    codeState() {
      return this.codeValid
    }
  },
  methods: {
    submit() {
      axios
        .get('/api/join', {
          params: {
            code: this.input.code,
            name: this.input.name
          }
        })
        .then(res => {
          if (res.data.status == 200) {
            this.$router.push({
              path: 'play',
              query: {
                code: this.input.code.toUpperCase(),
                name: this.input.name
              }
            })
          } else if (res.data.status == 401) {
            this.codeValid = false
          } else if (res.data.status == 402) {
            this.nameValid = false
          }
        })
    }
  }
}
</script>

<style>
.container {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  min-height: 50vh;
  max-width: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.join--input {
  font-weight: 300;
}
</style>
