<template>
  <section
    class="master--container">
    <Banner/>
    <div class="master--room_code">
      <b-badge
        class="master--badge" 
        variant="dark">{{ code }}</b-badge>
    </div>
    <!-- <div 
      v-if="$store.state.master.game_state == '0'"
      class="master--start_container">
      <b-button 
        :disabled="$store.state.master.players.length < 3"
        size="lg"
        variant="outline-primary"
        class="master--start_button"
        @click="start_game()">Start Game</b-button>
    </div>
    <div v-else> -->
    <div>
      <b-container class="master--white_cards">
        <b-row class="master--cards_row">
          <b-col class="master--black_card">
            <Card 
              :text="$store.state.master.black_card"
              color="black"
              class="master--active_black_card"/>
          </b-col>
          <b-col 
            v-for="(item, index) in $store.state.master.white_cards"
            :key="index"
            class="master--white_cards_col">
            <Card 
              :text="item"
              class="master--white_card_element"/>
          </b-col>
        </b-row>
      </b-container>
      <b-alert 
        v-if="$store.state.master.game_state == 3"
        variant="success" 
        show
        class="master--winner_alert">
        {{ $store.state.master.players[$store.state.master.last_winner].name }}
        Won!
      </b-alert>
    </div>
    <div class="master--name_container">
      <b-container class="master--name_cards">
        <b-row class="master--name_row">
          <b-col 
            v-for="(item, index) in $store.state.master.players"
            :key="index"
            class="master--name_cards_element">
            <Name 
              :text="item.name"
              :score="item.score"
              :judge="item.is_judge"
              class="master--name"/>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </section>
</template>

<script>
import Card from '~/components/Card.vue'
import Banner from '~/components/Banner.vue'
import Name from '~/components/Name.vue'
import axios from 'axios'
import io from 'socket.io-client'

var code

function getCookie(name) {
  var re = new RegExp(name + '=([^;]+)')
  var value = re.exec(document.cookie)
  return value != null ? unescape(value[1]) : null
}

export default {
  components: {
    Card,
    Name,
    Banner
  },
  data() {
    return {
      code: getCookie('code'),
      socket: io(),
      connect: setInterval(this.connect, 3000)
    }
  },
  methods: {
    connect() {
      axios
        .get('/api/game/master_connect')
    }
  },
  mounted() {
    this.socket.emit('room', this.code)
    this.socket.on('update_master', data => {
      this.$store.commit('update', data)
      clearInterval(this.connect)
    })
  }
}
</script>

<style>
.master--room_code {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #35495e;
  letter-spacing: 1px;
  display: flex;
  justify-content: right;
  align-items: right;
  text-align: right;
  margin-top: 0.5vh;
}
.master--badge {
  margin-left: auto;
  margin-right: 15px;
}
.master--white_cards {
  display: inline;
}
.master--white_cards_col {
  max-width: 16rem;
}
.master--black_card {
  max-width: 12vw;
  margin: 0 1vw 0 1vw;
}
.master--active_black_card {
  font-size: 20px;
  width: 18vw;
}
.master--name_container {
  position: absolute;
  bottom: 0vh;
  left: 5vh;
  right: 5vh;
}
.master--name_cards {
  display: inline;
}
.master--winner_alert {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
.master--start_button {
  display: inline-block;
  width: 10vw;
  font-size: 2vw;
}
.master--start_container {
  text-align: center;
}
.master--white_card_element {
  width: 12vw;
}
.master--active_card {
  font-size: 20px;
  width: 12vw;
}
</style>
