<template>
  <section>
    <div class="play--black_container">
      <div class="play--black_card">
        {{ $store.state.client.black_card }}
      </div>
    </div>
    <div 
      v-if="$store.state.client.judge == 'judge'"
      class="msg">
      You are the Judge
    </div>
    <div
      v-else-if="$store.state.client.game_state == 0"
      class="msg">
      Wait for everyone to join the game
    </div>
    <section
      v-if="$store.state.client.game_state >= 1"
      class="container">
      <div class="play--cards_area">
        <div class="play--cards_container">
          <div 
            v-if="$store.state.client.judge == ''"
            class="master--white_cards_row">
            <div
              v-for="(item, index) in $store.state.client.hand"
              :key="index"
              class="play--hand_cards_list">
              <button
                class="play--inv_button"
                @click="onPressed(index)">
                <Card 
                  :id="'white_card_' + index"
                  :text="item"
                  class="play--card"/>
              </button>
            </div>
          </div>
          <div
            v-else-if="$store.state.client.judge == 'judge' && $store.state.client.game_state == 2"
            class="master--white_cards_row">
            <div
              v-for="(item, index) in $store.state.client.judge_cards"
              :key="index"
              class="play--hand_cards_list">
              <button
                class="play--inv_button"
                @click="onJudge(index)">
                <Card 
                  :id="'white_card_' + index"
                  :text="item"
                  class="play--card"/>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <b-form-input
      v-if="show_custom == true"
      v-model="custom"
      class="play--custom_input"
      type="text"
      placeholder="Enter Custom Card"/>
    <div class="play--button_container">
      <button
        class="play--play_button"
        @click="submit()">
        Play Card
      </button>
    </div>
  </section>
</template>

<script>
import Card from '~/components/Card.vue'
import axios from 'axios'
import io from 'socket.io-client'

function getCookie(name) {
  var re = new RegExp(name + '=([^;]+)')
  var value = re.exec(document.cookie)
  return value != null ? unescape(value[1]) : null
}

export default {
  components: {
    Card
  },
  data() {
    return {
      selected: -1,
      judge_selected: -1,
      code: getCookie('code'),
      uid: getCookie('uid'),
      custom: '',
      show_custom: false,
      socket: io(),
      connect: setInterval(this.connect, 3000)
    }
  },
  methods: {
    onPressed(i) {
      if (this.$store.state.client.game_state != 1) {
        return
      }
      if (this.selected != -1) {
        var element = document.getElementById('white_card_' + this.selected)
        element.classList.toggle('active_card_style')
      }
      this.selected = i
      var element = document.getElementById('white_card_' + i)
      element.classList.toggle('active_card_style')
      this.show_custom = this.$store.state.client.hand[i] == '(Create your own)'
    },
    onJudge(i) {
      if (this.judge_selected != -1) {
        var element = document.getElementById(
          'white_card_' + this.judge_selected
        )
        element.classList.toggle('active_card_style')
      }
      this.judge_selected = i
      var element = document.getElementById('white_card_' + i)
      element.classList.toggle('active_card_style')
    },
    submit() {
      if (
        this.$store.state.client.game_state == 2 &&
        this.$store.state.client.judge == 'judge'
      ) {
        this.judge()
      } else {
        this.play_card()
      }
    },
    play_card() {
      axios
        .get('/api/game/play', {
          params: {
            uid: this.uid,
            card: this.selected,
            custom: this.custom
          }
        })
        .then(res => {
          if (res.status == 200) {
            var element = document.getElementById('white_card_' + this.selected)
            element.classList.toggle('active_card_style')
            this.selected = -1
          }
        })
      this.show_custom = false
    },
    judge() {
      axios
        .get('/api/game/judge', {
          params: {
            uid: this.uid,
            card: this.judge_selected
          }
        })
        .then(res => {
          if (res.status == 200) {
            var element = document.getElementById(
              'white_card_' + this.judge_selected
            )
            element.classList.toggle('active_card_style')
            this.judge_selected = -1
          }
        })
    },
    connect() {
      axios
        .get('/api/game/connect', {
          params: {
            uid: this.uid,
          }
        })
    }
  },
  mounted() {
    this.socket.emit('room', this.code)
    this.socket.on('update_'+this.uid, data => {
      this.$store.commit('updateHand', data)
      clearInterval(this.connect)
    })
  }
}
</script>

<style>
.container {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  min-height: 50vh;
  max-width: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.play--hand_cards_list {
  display: table-cell;
}
.play--cards_area {
  width: 400em;
  overflow-x: scroll;
  white-space: nowrap;
}
.play--card {
  overflow-x: none;
  white-space: normal;
  width: 85vw;
  margin: 10px 2px;
  font-size: 6vw;
}
.active_card_style {
  background-color: #b3b3b3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.play--inv_button {
  background: transparent;
  border: none !important;
}
.play--black_card {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  word-spacing: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.play--black_container {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000000;
}
.play--play_button {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  word-spacing: 5px;
  background-color: #000000;
  padding-bottom: 15px;
  padding-top: 15px;
}
.play--play_button:focus {
  outline: none;
}
.play--black_card:focus {
  outline: none;
}
.play--custom_input {
  bottom: 11vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.msg {
  text-align: center;
}
</style>
