<template>
  <div class="banner--container">
    <h2 class="banner--title">
      Cards Against The Internet
    </h2>
  </div>
</template>

<style>
.banner--container {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000000;
}
.banner--title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 42px;
  color: #ffffff;
  word-spacing: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
}
</style>
