<template>
  <div :class="'card--container-' + color">
    <svg viewBox="0 0 5 7" />
    <div class="card--info">
      {{ text }}
    </div>
  </div>
</template>
<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Cards Against the Internet'
    },
    color: {
      type: String,
      default: 'white'
    }
  }
}
</script>
<style>
.card--container-black {
  display: grid;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid darkgrey;
  border-radius: 5px;
}
.card--container-white {
  display: grid;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid darkgrey;
  border-radius: 5px;
}
.card--container-white > *,
.card--container-black > * {
  grid-area: 1 / 1 / 2 / 2;
}
.card--info {
  font-family: 'Helvetica', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Quicksand', Arial, sans-serif;
  display: block;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: left;
  word-spacing: 5px;
  padding: 15px 10px;
}
</style>
