<template>
  <div class="name--container">
    <div 
      v-if="judge == 'judge'"
      class="name--if_judge">
      <div class="name--judge">Judge</div>
    </div>
    <b-container class="name--rows">
      <b-row class="name--info">
        {{ text }}
      </b-row>
      <b-row>
        <b-badge class="name--score">{{ score }}</b-badge>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  props: {
    text: {
      type: String,
      default: ''
    },
    score: {
      type: String,
      default: ''
    },
    judge: {
      type: String,
      default: ''
    }
  }
}
</script>
<style>
@keyframes slidein {
  0% {
    transform: translateY(70%);
  }
  100% {
    transform: translateY(0);
  }
}

.name--rows {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid darkgrey;
  border-radius: 5px;
  text-align: center;
}
.name--judge {
  text-align: center;
  position: absolute;
  top: -4vh;
  left: 5vh;
  right: 5vh;
  font-weight: 500;
  font-size: 1vw;
  border: 2px solid darkgrey;
  border-radius: 5px;
  padding-bottom: 4vh;
  z-index: -1;
  opacity: 1;
  animation: 1s ease-out 0s 1 slidein;
}
.name--score {
  width: auto;
  margin: 0 auto;
  font-family: 'Helvetica', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Quicksand', Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 1vw;
  word-spacing: 5px;
}
.name--info {
  font-family: 'Helvetica', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Quicksand', Arial, sans-serif;
  display: block;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.25vw;
  word-spacing: 5px;
  padding: 3px 10px;
}
</style>
