<template>
  <section>
    <section class="container">
      <b-button
        size="lg"
        variant="outline-success"
        class="index_button"
        @click="createGame()">Start Game</b-button>
      <b-button
        size="lg"
        variant="outline-primary"
        class="index_button"
        @click="joinGame()">Join Game</b-button>
    </section>
  </section>
</template>

<script>
import axios from 'axios'

export default {
  methods: {
    createGame() {
      return axios.get('/api/create').then(res => {
        this.$router.push({ path: 'master' })
      })
    },
    joinGame() {
      this.$router.push({ path: 'join' })
    }
  }
}
</script>

<style>
.container {
  min-height: 50vh;
  max-width: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.index_button {
  margin: auto;
}
</style>
