<template>
  <section
    class="master--container">
    <div class="master--room_code">
      <b-badge
        class="master--badge" 
        variant="dark">{{ code }}</b-badge>
    </div>
    <div class="master--center">
      <div class="master--players_container">
        <div
          v-for="(item, index) in $store.state.master.players"
          :key="index"
          :style="'transform: rotate('+((index*360/$store.state.master.players.length)+270)+'deg) translate(36vh) rotate(-'+
          ((index*360/$store.state.master.players.length)+270)+'deg); '"
          class="master--players">
          <span>{{ item.name }}</span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import io from 'socket.io-client'

function getCookie(name) {
  var re = new RegExp(name + '=([^;]+)')
  var value = re.exec(document.cookie)
  return value != null ? unescape(value[1]) : null
}

export default {
  data() {
    var c = getCookie('code')
    return {
      code: c,
      socket: io()
    }
  },
  mounted() {
    this.socket.emit('room', this.code)
    this.socket.on('update_players', players => {
      this.$store.commit('update', players)
    })
    this.socket.on('refresh', () => {
      this.$router.go()
    })
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Architects Daughter');

.master--room_code {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #35495e;
  letter-spacing: 1px;
  display: flex;
  justify-content: right;
  align-items: right;
  text-align: right;
  margin-top: 0.5vh;
}
.master--badge {
  margin-left: auto;
  margin-right: 15px;
}
.master--center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.master--players_container div {
  display: block;
  position: absolute;
  font-family: 'Architects Daughter';
  font-size: 22px;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 18vh;
  height: 18vh;
  border: 2px solid;
  border-radius: 50%;
  margin: -9vh;
}
.master--players_container div span {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(50%);
}
</style>
