<template>
  <section
    class="client--container">
    <div class="client--center">
      <div class="client--players_container">
        <div 
          v-for="(item, index) in $store.state.client.games"
          :key="index">
          <b-button
            size="lg"
            variant="outline-primary"
            class="client--options"
            @click="select(item.key)">
            {{ item.name }}
          </b-button>
        </div>
        <h2
          v-if="$store.state.client.games.length == 0">
          Wait for everyone to join the game
        </h2>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import io from 'socket.io-client'

function getCookie(name) {
  var re = new RegExp(name + '=([^;]+)')
  var value = re.exec(document.cookie)
  return value != null ? unescape(value[1]) : null
}

export default {
  data() {
    var c = getCookie('code')
    return {
      code: c,
      socket: io()
    }
  },
  beforeMount() {
    axios.get('/api/games').then(res => {
      this.$store.commit('get_games', res.data.data)
    })
  },
  mounted() {
    this.socket.emit('room', this.code)
    this.socket.on('refresh', () => {
      this.$router.go()
    })
  },
  methods: {
    select: function(key) {
      axios
        .get('/api/start', {
          params: {
            game: key
          }
        })
        .then(res => {
          if (res.status == 200) {
            this.$router.go()
          }
        })
    }
  }
}
</script>

<style>
.client--center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3em;
}
.client--players_container {
}
.client--players_container button {
  display: block;
  font-family: 'Architects Daughter';
  font-size: 22px;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 8em;
  height: 7em;
  border: 2px solid;
  border-radius: 25%;
  margin-top: 0.75em;
}
</style>
