<template>
  <div>
    <nuxt/>
  </div>
</template>

<script>
import Banner from '~/components/Banner.vue'

export default {
  components: {
    Banner
  }
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--black {
  width: 40%;
  max-width: 40vh;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #000000;
  color: #000000;
  text-decoration: none;
  padding: 10px 30px;
}

.button--black:hover {
  color: #fff;
  text-decoration: none;
  background-color: #000000;
}

.button--grey {
  width: 40%;
  max-width: 40vh;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #606060;
  color: #606060;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  text-decoration: none;
  background-color: #606060;
}
</style>
